<div class="d-flex flex-column m-auto">
  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Old password</span>
    <input
      type="password"
      pInputText
      [(ngModel)]="oldPassword"
      [ngClass]="{'input-error': !oldPassword || oldPassword.length < 3}"
    />
  </div>
  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">New password</span>
    <input
      type="password"
      pInputText
      [(ngModel)]="newPassword"
      [ngClass]="{'input-error': !newPassword || newPassword.length < 3}"
    />
  </div>
  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Repeat password</span>*
    <input
      type="password"
      pInputText
      [(ngModel)]="repeatPassword"
      [ngClass]="{'input-error': repeatPassword !== newPassword}"
    />
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <p-button
      label="Save"
      [disabled]="oldPassword.length < 3 || newPassword.length < 3"
      (onClick)="onChange()"
    ></p-button>
  </div>
</div>
